*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
body{
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/IMG_2279.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 0;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}

.login{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 113, 135, 0.7); 
    width: 50%;
    height: 50%;
    font-size: 1rem;
    color: black;
    border-radius: 2%;
    z-index: 1;
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    box-shadow: 0.2rem 0.4rem 0.5rem black;
    filter: grayscale(100%);
}
#password{
    padding: 1rem;
    border: 1px solid black;
    position: relative;
    width: 60%;
    opacity: 100;
    background-color: #F0F0F0;
    box-shadow:0.2rem 0.2rem 0.2rem #CCCCCC;
    border-radius:1rem ;
    font-size:1rem;
    margin-top: 6rem;
}
#icon{
    position: absolute;
    top: 49%;
    right: 20%;
    font-size: 1.1rem;
}
.id{
    position: absolute;
    top: 30%;
    color: #00C8FF;
    font-size:3rem;

}

.loginbutton{
    width: 20rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid gray;
    background-color: #F0F0F0;
    box-shadow:0.2rem 0.2rem 0.2rem #CCCCCC;
    border-radius:1rem ;
    font-size:1.2rem;
    position: relative;
}
.loginbutton:hover{
    background-color: rgb(7, 113, 135, 0.5);
    box-shadow:none;
    color: white;
}
@media (max-width: 768px) { /* Replace 768px with a suitable breakpoint */
    .id {
        font-size: 2rem;
    }

    .login {
        padding: 1.5rem;
    }

    .loginbutton {
        width: 100%;
        padding: 1rem 1.5rem;
    }
    .main {
        background-size: cover;
        background-position: center;
    }
}